*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    background-color: lightseagreen;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    margin-left: 40px;
    margin-right: 40px;
}

.boton{
    display: block;
    background-color: beige;
    color:black;
    margin: 20px auto;
    width: 160px;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    border-radius: 20px;
}

.boton:hover{
    background-color: aqua;
    color: darkblue
}

.boton:active{
    background-color: black;
    color: darkmagenta;
}
#p1:target{
    background-color: rgba(58, 9, 138, 0.4);

}

#p2:target{
    background-color: rgba(20, 121, 121, 0.4);
}
#p3:target{
    background-color: rgba(163, 32, 163, 0.4);
}

.textos1, .textos2{
    background-color: beige;
    width: max-content;
    padding: 20px  50px;
    margin: 30px auto;
    text-align: center;
}

/* .textos1 p:first-child primero*/
/*  .textos1 p:last-child ultimo */
/*.textos1 p:nth-child(odd) impar */
/* .textos1 p:nth-child(even)  par */
/* .textos1 p:nth-child(3) por numeracion */
/* .textos1 p:nth-last-child(n+3) selecciona todo de abajo hacia arriba apartir del numero */
.textos1 p:nth-child(n+3), .textos2 p:nth-child(n+3) 
{
    background-color:lightslategrey;
    color: darkblue;
}
/* TABLA */
.tabla{
    margin: 30px auto;
    border-collapse: collapse;
    padding: 10px;
}

.tabla th, td{
    border: 2px solid blue;

}

.tabla thead{
    background-color: black;
    color: lightseagreen;
}

.tabla  tr:nth-child(even), .tabla td:nth-child(even){
    background-color:darkseagreen;
    color: beige;
    
}

.nombre{
    display: flex;
    margin: 40px auto;
    justify-content: center;
    list-style: none;
}

.nombre li{
    font-size: xx-large;
    font-weight: bold;
}
.nombre li:nth-child(odd){
    background-color: blue;
    color: beige;
    padding: 10px;
    text-shadow: 5px 5px 7px;
}
.nombre li:nth-child(even){
    background-color: beige;
    color: blue;
    padding: 10px;
    text-shadow: 5px 5px 7px;
}
.lista{
    width: max-content;
    margin: 30px auto;
    list-style:none;
    background-color: darkblue;
    padding: 20px;
}
.lista li:before{
    content:"🎮";
    margin-right: 10px;
    margin-left: 10px;
}

.textos2 p::after{
    content: "🎮";
}

.cuadro{
    background-color: rgba(20, 20, 192,0.4);
    width: 55%;
    padding: 15px;
    margin: 20px auto;
    text-align: center;
    position: relative;
    
}

.cuadro::before{
    width: 80px;
    height: 30px;
    content:"😈😈😈";
    top:calc(50% - 15px);
    right: calc(100% - 15px);
    position: absolute;
}
.cuadro::after{
    width: 80px;
    height: 30px;
    content:"😈😈😈";
    top:calc(50% - 15px);
    left: calc(100% - 15px);
    position: absolute;
}
@media screen and (max-width:500px){
    .cuadro::after, .cuadro::before{
        content: "";
     }
   .cuadro{
    width: 100%;
   } 
}

.formu{
    margin: 50px 20px;
}
label{
    background-color:rgba(20, 20, 192,0.4) ;
    padding: 10px;
    color: beige;
}
.formu:checked + label{
    background-color: darkblue;
}